body{
    background-color: #d3d3d3;
}

h1{
    color: red;
    text-align: center;
}

h2{
    
    text-align: center;
}

.coke{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

.links{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pro-p{
    display: block;
    width: 25%;     
}

.produce{
    
}

#linkedin{
    display: block;
    width: 5%;
}

